@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #233554;
  color: #dce2f9;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #48566b;
  border-radius: 5px;
}

/* Thin scrollbar for horizontal scrolling elements */
.scrollbar-hide::-webkit-scrollbar {
  height: 4px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #48566b;
  border-radius: 5px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: #48566b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.moveup {
  transition: transform 0.3s ease;
}

.moveup:hover {
  transform: translateY(-3px);
}
